<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="HelloWorldPortBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:9000/HelloWorld" binding="basicHttpBinding"
                bindingConfiguration="HelloWorldPortBinding" contract="ServiceReference1.HelloWorld"
                name="HelloWorldPort" />
        </client>
    </system.serviceModel>
</configuration>